@model OrderDetailPageVM

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Ürünler Tablosu
            </header>
            <div class="panel-body">
                <div class="adv-table">
                    <table class="display table table-bordered table-striped" id="example">
                        <thead>
                            <tr>
                                <th>Ürün ismi</th>
                                <th>Ürün Adedi</th>
                                <th>Ürün Fiyatı</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (OrderDetailPureVM item in Model.OrderDetailPureVMs)
                            {
                                <tr class="gradeX">
                                    <td>@item.ProductName</td>
                                    <td>@item.Quantity</td>
                                    <td>@item.UnitPrice.ToString("C", new System.Globalization.CultureInfo("tr-TR"))</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>