@model UpdatePasswordPageVM

@if (TempData["Message"] != null)
{
    <h1 class="alert alert-danger">
        <b>@TempData["Message"]!</b>
    </h1>
}

<section>
    <div class="panel panel-primary">
        <div class="panel-heading"> Yeni Şifre Belirle</div>
        <div class="panel-body">
            <form asp-action="UpdatePassword" asp-controller="User" method="post" class="form-horizontal" role="form">
                <input type="hidden" asp-for="UpdatePasswordPureVM.ID">
                <div class="form-group">
                    <label class="col-lg-2 control-label">Mevcut Şifre</label>
                    <div class="col-lg-6">
                        <span class="text-danger" asp-validation-for="UpdatePasswordPureVM.CurrentPassword"></span>
                        <input asp-for="UpdatePasswordPureVM.CurrentPassword" type="text" class="form-control" id="c-pwd">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Yeni Şifre</label>
                    <div class="col-lg-6">
                        <span class="text-danger" asp-validation-for="UpdatePasswordPureVM.NewPassword"></span>
                        <input asp-for="UpdatePasswordPureVM.NewPassword" type="text" class="form-control" id="n-pwd">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Yeni şifrenizi tekrar yazınız</label>
                    <div class="col-lg-6">
                        <span class="text-danger" asp-validation-for="UpdatePasswordPureVM.ConfirmPassword"></span>
                        <input asp-for="UpdatePasswordPureVM.ConfirmPassword" type="text" class="form-control" id="rt-pwd">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-info">Güncelle</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>