@model UpdateShipperPageVM

@if (TempData["Message"] != null)
{
    <h1 class="alert alert-danger">
        <b>@TempData["Message"]!</b>
    </h1>
}
<form asp-action="UpdateShipper" asp-controller="Shipper" method="post" class="p-3 w-75 m-auto">

    <input type="hidden" asp-for="UpdateShipperPureVM.ID" />
    <div class="mb-3">
        <label>Firma İsmini giriniz</label>
        <input asp-for="UpdateShipperPureVM.CompanyName" class="form-control" />
    </div>
    <br />
    <div class="mb-3">
        <button class="btn btn-primary">Firma Güncelle</button>
    </div>

    <div class="text-danger" asp-validation-summary="ModelOnly">
    </div>
</form>
