@model CreateProductPageVM


<form asp-action="CreateProduct" asp-controller="Product" method="post" class="p-3 w-75 m-auto" enctype="multipart/form-data">

    <div class="mb-3">
        <label>Ürün İsmini giriniz</label>
        <input asp-for="Product.ProductName" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Fiyat giriniz</label>
        <input asp-for="Product.Unitprice" class="form-control" />


    </div>

    <div class="mb-3">
        <label>Stok giriniz</label>
        <input asp-for="Product.UnitsInStock" class="form-control" />


    </div>

    <div class="mb-3">
        <label>Kategori Seciniz</label>
        <select asp-for="Product.CategoryID" asp-items='new SelectList(Model.Categories,"ID","CategoryName")'>
        </select>
    </div>

    <div class="mb-3">
        <label>Dosya seciniz</label>
        <input type="file" name="formFile" class="form-control" />
    </div>

    <br />
    <div class="mb-3">
        <button class="btn btn-primary">Ürün Ekle</button>
    </div>


    <div class="text-danger" asp-validation-summary="ModelOnly">
    </div>

</form>
